<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Description" content="The High School Computational Linguistics Challenge (HSCLC) is an online computational linguistics competition run by the West Windsor - Plainsboro High School South Programming Club.">

		<meta name="Keywords" content="HSCLC, hsclc, linguistics, competition, math, computer science, naclo, NACLO,
		USAMO, PUMAC, HMMT, tournament, high school, challenge, online, programming, art of problem solving, aops">

		<title>{% block title %}{% endblock %}</title>

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/static/img/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/img/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/img/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/img/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/img/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/img/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/img/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/img/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/static/img/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/static/img/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/static/img/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/static/img/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/static/img/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="/static/img/icons/mstile-144x144.png">

		<!-- jQuery and extensions -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>

		<!-- Chart.js -->
		<!-- <script src="http://rawgit.com/nnnick/Chart.js/master/Chart.min.js"></script> -->
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
		<link href="/static/css/fonts.css" rel="stylesheet" type="text/css">

		<!-- Font Awesome -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- Style -->
		<!-- <link rel="stylesheet" href="/static/css/style.css"> -->
		<link rel="stylesheet" href="/static/css/{% block style %}{% endblock %}">

		<!-- Common Style -->
		<link rel="stylesheet" href="/static/css/footer.css">
	</head>
	
	<body>
		{% block body %}{% endblock %}
		
		{% block scripts %}{% endblock %}
	</body>
</html>