<footer>
	<div class="row">
		<div class="col-12">
			<p id="creators-attrib">CREATED BY ANURAG BAKSHI AND ANISH VISARIA / DESIGNED BY YINAN ZHENG</p>
			<p id="school-attrib">WEST WINDSOR - PLAINSBORO HIGH SCHOOL SOUTH PROGRAMMING CLUB 2014</p>
		</div>
	</div>
</footer>