{% extends "auxilary.html.jinja" %}

{% block title %}Forum{% endblock %}

{% block content %}
	<div id="forum-page" class="aux-content">
		<p>
			Our forum is under construction.
		</p>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$("nav a[href='/forum']").addClass("active");
	</script>
{% endblock %}