<header>
	<!-- <div id="logo">H I G H S C H<br>O O L C O M P<br>U T A T I O N<br>A L I N G U I<br>S T I C S C H<br>A L L E N G E</div> -->
	<!-- <img id="logo" src="/static/img/logo.svg"> -->
	<a href="/"><h1 id="braille-title">&#10259;&#10254;&#10249;&#10247;&#10249;</h1></a>

	<nav>
		<a href="/about">ABOUT</a>
		&nbsp;&#47;&nbsp;
		<a href="/rules">RULES</a>
		&nbsp;&#47;&nbsp;
		<a href="/prizes">PRIZES</a>
		&nbsp;&#47;&nbsp;
		<a href="/challenges">CHALLENGES</a>
		<br>
		<a href="/resources">RESOURCES</a>
		&nbsp;&#47;&nbsp;
		<a href="/dashboard">DASHBOARD</a>
		&nbsp;&#47;&nbsp;
		<a href="/leaderboard">LEADERBOARD</a>
		&nbsp;&#47;&nbsp;
		<a href="/faq">FAQ</a>
	</nav>
</header>